<html lang="en">
<head>
  <%- include("../partials/header") %>

</head>

<body style="background-image:url('/img/i-like-food.svg');">
    <%- include("../partials/navbar") %>
   <div class="container">
    <div class="row">
      
      
        <div class="col col-xl-6 col-lg-6 col-md-12  col-12 col-sm-12 mt-5" style="text-align: center;">
          <h1 class="display-4 fw-bold mb-4 mt-5">Delicious recipies ideas</h1>
          <h3  style="background-color: white;">    
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eius quam ratione alias eveniet tenetur vitae rem fugiat! Amet nulla corrupti quos voluptatem nemo consectetur saepe ducimus modi aut officia.
          </h3>
            <a href="/" class="btn btn-dark p-4">Explore Recipies</a>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-12  col-12 col-sm-12 mt-4 mb-5" style="text-align:center;">
          <img src="/img/food.jpg" width="607" height="510" class="img-fluid" loading="lazy" alt="Cooking With Node.js"/>
        </div>
      </div>
      <h1 class="display-4 fw-bold mb-4 mt-5">FIVE MOST RECENT RECIPIES</h1>
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% blog.forEach(function(blog, index){ %>
      
          <div class="card mt-4 text-center"  style="width:28rem;margin:10px;">
         <div class="card-body">
            <h4 class="card-title"><%= blog.title %></h4>
            <h4 class="card-title"><%= blog.author %></h4>
            <div class="card-subtitle text-muted mb-2">
              <%= blog.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2"><%= blog.category %></div>
            <img class="card-img-top mt-2" src="<%= blog.img %> " alt="" />
            <div class="card-text mb-2"><%= blog.description %></div>
            <a
        href="<%= blog.slug %>"
        class="btn btn-dark text-center"
        >Read More....</a
      >
      <a href="edit/<%= blog.id %>" class="btn btn-dark"
        >Edit</a
      >
      <form
        action="/blogs/<%= blog.id %>?_method=DELETE"
        method="POST"
        class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
        </div>
        </div>

   <% }) %>
   
      </div>

   </div>
   
    
    <div class="py-5 text-center mt-5" style="background-color: black;color: white;">
        ©2022 Copyright
      </div>

      
</body>
</html>