<div class="form-group">
  <label for="title">Title</label>
  <input
    required
    value="<%= blog.title %>"
    type="text"
    name="title"
    id="title"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="author">author</label>
  <input
    required
    value="<%= blog.author %>"
    type="text"
    name="author"
    id="author"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="img">img</label>
  <input
    required
    value="<%= blog.img %>"
    type="text"
    name="img"
   
    id="img"
    class="form-control"
  />
</div>


<div class="form-group">
  <label for="category">category</label>
  <input
    required
    value="<%= blog.category %>"
    type="text"
    name="category"
    id="category"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="description">Short Description</label>
  <textarea name="description" id="description" class="form-control"><%= blog.description %></textarea
  >
</div>



<a href="/" class="btn btn-dark btn-lg px-4 me-md-2">Cancel</a>
    

<button type="submit" class="btn btn-warning btn-lg px-4 me-md-2">Save</button>
